body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container-item{
  width: 1200px;
  margin: auto !important;
}


/* start header */
.logo >a >img{
  width: 200px;
  margin: 30px 0;
}

.menu{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.menu-ul{
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.menu-ul >li{
  margin: 0px 10px 30px 20px;
}
.menu-ul >li >a{
  padding: 10px 2px;
  text-decoration: none;
}
.menu-ul >li >a:hover{
  border-bottom: 2px solid rgb(0, 21, 56);
  color: rgb(0, 21, 56);
}
.menu-ul >li .border-bt{
  border-bottom: 2px solid rgb(0, 21, 56);
}
/* end header */


/* start image bridge */
.img-bridge{
  width: 100%;
  position: relative;  
}
.img-bridge .search{
  position: absolute;
  top: 65%;
  left: 35%;
  z-index: 1;
}

#myInput{
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#myUL{
  list-style-type: none;
  display: none;
  padding: 0;
  margin: 0;
}
#myUL >li >a{
  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block
}
#myUL >li >a:hover{
  background-color: #eee;
}
/* end image bridge */



/* start body */

  /* Start nav */
.nav{
  height: 90px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav .nav-item{
  text-align: center;
  padding: 10px;
}
.nav .nav-span{
  background-color: rgba(25,26,26,.8);
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.nav .nav-item >a , .nav-item >span{
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.nav .nav-item .border{
  border-bottom: 2px solid black;
}
.nav .nav-item >a:hover{
  color: #20c997;
}
  /* End nav */

  /* start hightlight */
.slideshow-container{
  width: 100%;
  position: relative;
  margin: auto;
}
.mySlides{
  display: none;
}
.fade{
  opacity: 1 !important;
}
.fade >div >a{
  font-size: 20px;
}
.fade img{
  width: 100%;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.text{
  color: #f2f2f2;
  position: absolute;
  bottom: 8px;
  width:100%;
}
.text >a{
  margin: auto !important;
  padding: 10px;
  width: 50%;
}
.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover{
  background-color: #717171;
}
  /* end hightlight */

  /* start bridges longest */
.nav .nav-card{
  padding: 10px;
}
.nav .nav-text{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 2px solid black;
}

.bridge-longest{
  border-top: 1px solid rgba(0, 0, 0, 0.45);
}
.longest-item{
  margin: 10px 0;
}
.longest-item >a >img{
  width: 100%;
}
.longest-item >a{
  text-decoration: none;
  display: block;
  margin: 10px 0;
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.longest-item >a:hover{
  color: #20c997;
}
a >img:not(.tran){
  transform: scale(1);
  will-change: transform;
  transition: all 0.25s ease-in-out 0s;
}
a:hover:not(.tran) img{
  transform: scale(1.05);
}

.see-more{
  margin-top: 10px;
  height: 100%;
}
.see-more >a{
  position: relative;
}
.see-more >a >img{
  position: absolute;
  top: 0;
  left: 0;
}
.see-more >a >div{
  width: 100%;
  position: absolute;
  top: 90px;
  color: white;
}
.see-more >a:hover .see-more-item{
  color: #20c997;
}
.see-more >a >div >i{
  font-size: 3rem;
  margin-bottom: 5px;
}

.bridge-longest .xt{
  height: 60px;
  width: 100%;
  text-align: center;
}
.bridge-longest .xt >a{
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 80%;
  text-decoration: none;
  display: inline-block;
  color:rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
}
.bridge-longest .xt >a:hover{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
  /* end bridges longest */
  /* start highest */
.highest{
  margin: 20px 0;
}
.highest >div >a{
  text-decoration: none;
  display: block;
  margin: 10px 0;
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}
.highest div >a:hover{
  color: #20c997;
}
  /* end highest */
/* end body */


/* Start footer */
.footer{
    background-color: #333;
}
.reserved{
    height: 100px;
    padding: 20px 0 0 0;
    text-align: center;
    color: white;
}
.reserved p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
/* End footer */
.mar{
  margin-bottom: 60px;
}

.table-detail tr >td{
  padding: 0 30px 0 0;
}


/* start contact us */
.contact-us{
  background-color: rgba(0, 0, 0, 0.05);
  height: 80px;
  font-size: 25px;
  text-align: center;
  line-height: 70px;
  margin: 40px 0;
}
.contact-us >span{
  border-bottom: 2px solid black;
}

.contact{
  margin-bottom: 60px;
}
.contact .form{
  
}
.input-contact{
  margin: 8px 0;
  padding: 10px;
}
.sent{
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  padding: 8px;
  margin: 10px 0;
  cursor: pointer;
}
#sent{
  margin-bottom: 80px;
}

.register{
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.05);
}
.register >div >h4{
  display: inline;
  margin-left: 20px;
}
.phone{
  line-height: 60px;
}
.phone >a{
  color: black;
  margin: 0 20px;
}


/* end contact us */


/* start about us */
.about >p{
  text-align: center;
  margin: 60px 0;
  padding-bottom: 30px;
  font-size: 18px;
  border-bottom: 1px solid black;
}
/* end about us */


/* reponsive @media */
@media screen and (max-width : 1200px){
    .container-item{
        width: 100%;
    }
}
@media screen and (max-width : 576px){
    .menu{
        justify-content: center;
    }
}